<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <div>
        {% if category %}
            <h1>{{ category.name }}</h1>
            {% if pages %}
                <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <strong>There are no pages in this category.</strong>
            {% endif %}
            <a href="{% url 'rango:add_page' category.slug %}">Add a Page</a>
        {% else %}
            The specified category does not exist.
        {% endif %}
        </div>
        <a href="/rango/">Back to Rango</a>
    </body>